# Car Price Prediction

- Student name: Jagandeep Singh
- Student pace: full-time
- Scheduled project review date: 31 July
- Instructor name: Sean Wilson

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
pd.set_option('display.max_columns', None)
plt.style.use('seaborn-deep')
plt.rcParams.update({'font.size': 15})

In [ ]:
df = pd.read_csv('vehicles.csv')

In [ ]:
df.shape

In [ ]:
len(df[df.price == 0])

## Data Cleaning

In [ ]:
# Removing rows with missing price and year
df.drop(df[df['price'] == 0].index, inplace = True) 
df.drop(df[df['year'].isna()].index, inplace = True) 
df.drop(df[df['year'] == 2021].index, inplace = True)
df.drop([496], inplace = True)
df.drop(df[df.odometer > 500000].index, inplace = True)

In [ ]:
# Changing type of year to int
df['year'] = df['year'].astype(int)
df['year'].dtype

In [ ]:
year_med =  dict(df.groupby('year')['odometer'].median())

In [ ]:
# Imputing missing values in odometer with median odometer of each year cars
df['odometer'] = df['odometer'].fillna(df['year'].apply(lambda x: year_med.get(x)))

In [ ]:
# Removing the leftover missing values in odometer because no information available for those years
df.drop(df[df['odometer'].isna()].index, inplace = True)

In [ ]:
df.shape

In [ ]:
# Dropping cars with price less than 1000 with miles less than 60,000 and model year greater than 2010
df.drop(df[(df.price < 1000 ) & (df.odometer < 60000 ) & (df.year > 2010)].index, inplace = True)
df.drop(df[(df.price < 200)].index, inplace = True)
df.drop(df[(df.price > 50000)].index, inplace = True)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
# Dropping rows with missing cylinders, transmission and drive
df.drop(df[(df['cylinders'].isna()) & (df['transmission'].isna()) & (df['drive'].isna())].index, inplace = True)

In [ ]:
df['cylinders'] = df['cylinders'].apply(lambda x: x[0] if not pd.isnull(x) else np.nan)

In [ ]:
# Changing cylinders of tesla cars to 0
df.loc[df.manufacturer == 'tesla', 'cylinders'] = 0
df.cylinders.fillna(0, inplace = True)
df.cylinders =  df.cylinders.replace('o', 0)

In [ ]:
df['cylinders'] = df['cylinders'].astype(int)

In [ ]:
# Changing cylinder of all 2019 honda accords to 4
df.loc[((df.manufacturer == 'honda') & (df.year == 2019) & (df.model == 'accord')), 'cylinders'] = 4

In [ ]:
df.loc[((df.manufacturer == 'honda') & (df.year == 2020) & (df.model == 'accord')),'cylinders'] = 4

In [ ]:
# Dropping unwanted columns
df.drop(['id', 'url', 'region_url', 'VIN', 'lat', 'long','image_url', 'region', 'model','state', 'posting_date', 'Unnamed: 0'], axis = 1, inplace = True)

In [ ]:
df.shape

In [ ]:
df.isna().sum()

In [ ]:
# filling missing condition values with fair considering their condition would be fair
#df.condition.fillna('fair', inplace = True)

In [ ]:
df.condition.replace('like new', 'excellent', inplace = True)
df.condition.replace('new', 'excellent', inplace = True)

In [ ]:
df.condition.value_counts()

In [ ]:
df.fuel.fillna('gas', inplace = True)

In [ ]:
df.fuel.value_counts()

In [ ]:
df.transmission.value_counts()

In [ ]:
df.loc[(df['description'].str.contains('automatic transmission')) & (df['transmission'] == 'other'), "transmission"] = "automatic"
df.loc[(df['description'].str.contains('manual transmission')) & (df['transmission'] == 'other'), "transmission"] = "manual"
df.loc[(df['description'].str.contains('automatic transmission')) & (df['transmission'].isna()), "transmission"] = "automatic"
df.loc[(df['description'].str.contains('manual transmission')) & (df['transmission'].isna()), "transmission"] = "manual"

df.loc[(df['description'].str.contains('Automatic Transmission')) & (df['transmission'] == 'other'), "transmission"] = "automatic"
df.loc[(df['description'].str.contains('Manual Transmission')) & (df['transmission'] == 'other'), "transmission"] = "manual"
df.loc[(df['description'].str.contains('Automatic Transmission')) & (df['transmission'].isna()), "transmission"] = "automatic"
df.loc[(df['description'].str.contains('Manual Transmission')) & (df['transmission'].isna()), "transmission"] = "manual"

df.loc[(df['description'].str.contains('AUTOMATIC TRANSMISSION')) & (df['transmission'] == 'other'), "transmission"] = "automatic"
df.loc[(df['description'].str.contains('MANUAL TRANSMISSION')) & (df['transmission'] == 'other'), "transmission"] = "manual"
df.loc[(df['description'].str.contains('AUTOMATIC TRANSMISSION')) & (df['transmission'].isna()), "transmission"] = "automatic"
df.loc[(df['description'].str.contains('MANUAL TRANSMISSION')) & (df['transmission'].isna()), "transmission"] = "manual"

In [ ]:
# Assuming most cars have automatic transmission
df.transmission.fillna('automatic', inplace = True)

In [ ]:
df.isna().mean()

In [ ]:
# Dropping cars with less than 10 miles and more than 300,000 miles.
df.drop(df[df.odometer < 10].index, inplace = True) 
df.drop(df[df.odometer > 300000].index, inplace = True)

In [ ]:
df.shape

### Hypothesis Tests

#### First Hypothesis test

In [ ]:
# Null Hypothesis - H0: Mean price of diesel is equal to the mean price of gas
# Alternative Hypothesis - HA: Mean price of diesel is different than the mean price of gas

diesel = df[df.fuel == 'diesel'].price
gas = df[df.fuel == 'gas'].price

print(stats.ttest_ind(diesel, gas))

# Ttest_indResult(statistic=181.92229245543183, pvalue=0.0)

# Reject Null Hypthesis
# p-value << 0.05 
# Mean price of diesel is different than the mean price of gas

In [ ]:
fig = plt.figure(figsize=(12,8))
sns.distplot(gas, color = 'red')
sns.distplot(diesel)
fig.legend(labels=['Gas','Diesel'])
plt.title('Distribution of Diesel and Gas car prices')
plt.xlabel('Prices')

plt.show()

#### Second Hypothesis test

In [ ]:
#Null Hypothesis - H0: Mean price of rwd is lesser or equal than the mean price of fwd
#Alternative Hypothesis - HA: Mean price of rwd is greater than the mean price of fwd

rwd = df[df.drive == 'rwd'].price
fwd = df[df.drive == 'fwd'].price

print(stats.ttest_ind(rwd, fwd))

# Ttest_indResult(statistic=109.39720387405556, pvalue=0.0)

# Reject Null Hypthesis
# p-value << 0.05 
# Mean price of rwd is greater than the mean price of fwd

In [ ]:
fig = plt.figure(figsize=(12,8))
sns.distplot(rwd, color = 'red')
sns.distplot(fwd)
fig.legend(labels=['RWD','FWD'])
plt.title('Distribution of RWD and FWD car prices')
plt.xlabel('Prices')

plt.show()

#### Third Hypthesis test

In [ ]:
# Null Hypothesis: There is s
# Alt-Hypothesis: There is a significant relation between price and condition.


anova = ols('price~condition', data=df).fit()
anova_table = sm.stats.anova_lm(anova, type=2)
print(anova_table)

# p-value = 0
# F-stat = 2592.142181
# Reject Null Hypothesis
# There is a significant relation between price and condition.

In [ ]:
plt.figure(figsize=(10,8))
df.groupby('condition').price.mean().plot(kind = 'bar',color=['red', 'green', 'blue', 'orange'])
plt.title('Average price of cars with Condition')
plt.ylabel('Average Price')
plt.show()

### Visualizations

In [ ]:
plt.figure(figsize=(12,10))
sns.distplot(df.price)
plt.title('Car Prices Distribution')
plt.xlabel('Price')
plt.show()

In [ ]:
plt.figure(figsize=(12,10))
ax = df['manufacturer'].value_counts(normalize = True).head(10).plot(kind='bar', color = 'green')
plt.title('Top 10 Car Brands for sale')
plt.xlabel('Brands')
plt.ylabel('Percentage of cars ')
vals = ax.get_yticks()
ax.set_yticklabels(['{:,.2%}'.format(x) for x in vals])
plt.show()

In [ ]:
plt.figure(figsize=(15,10))
ax = df['type'].value_counts(normalize = True).plot(kind='bar', color = 'orange')
plt.title('Cars for sale by Type')
plt.xlabel('Type')
plt.ylabel('Percentage of cars ')
vals = ax.get_yticks()
ax.set_yticklabels(['{:,.2%}'.format(x) for x in vals])
plt.show()

In [ ]:

ax = df.groupby(['drive', 'condition']).price.count().unstack().plot(kind = 'bar',figsize = (12,8) )
plt.ylabel("Number of Cars")
plt.xlabel("Drivetrain")
plt.title('Number of cars by Condition')

In [ ]:
fig = plt.figure(figsize = (10,8))
ax = df.groupby([ 'fuel']).odometer.median().plot(kind = 'bar', color = 'blue');
plt.title('Cars mileage by fuel type')
plt.xlabel('Fuel')
plt.ylabel('Average miles')

In [ ]:
sample = df.sample(n = 1000)
sns.lmplot('odometer', 'price', data=sample[['price','odometer']],height = 6, aspect = 1.5)
plt.ylim(0, None);
plt.title('Miles-Price')
plt.xlabel('Miles')

In [ ]:
sample = df.sample(n = 1000)
sns.lmplot('year', 'price', data=sample[['price','year']],height = 6, aspect = 1.5)
plt.ylim(0, None);
plt.title('Year-Price')

####  Creating New Column for Leather seats from Description

In [ ]:
df['leather_seats'] = np.where((df['description'].str.contains('leather')) |
                          (df['description'].str.contains('Leather'))|
                          (df['description'].str.contains('LEATHER')) , 1,0)

In [ ]:
df['leather_seats'].sum()

In [ ]:
# Removing Description column
df.drop(['description'], axis = 1, inplace = True)

In [ ]:
df.head()